@use "./constants.scss";

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: constants.$FONT_BODY;
  overflow-x: hidden;
  background-color: #001122;
  color: #ffffff;
}

.root {
  min-height: 100vh;
  min-width: 95vw;
  margin: 0;
  overflow-x: hidden;
}

.contents {
  margin: 0 auto;
  width: calc(95vw - ((constants.$WIDTH_SIDE_BAR + 20px ) * 2));
  @media (max-width: 1150px) {
    width: 95vw;
  }
}
