// モバイルヘッダーの背景色
$HIGHWAY_GREEN: #007356;

// サイト名のフォント
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$FONT_TITLE: "Dancing Script", serif;

// 本文のフォント
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Zen+Maru+Gothic&display=swap');
$FONT_BODY: "Zen Maru Gothic", serif;

// サイドバーの横幅
$WIDTH_SIDE_BAR: 250px;