.subTitle {
  padding: 0.5em;
  color: #f7ffc7;
  border-left: solid 5px #fff458;
  font-size: 1.5em;
  background: -webkit-linear-gradient(to right, #01103a, transparent);
  background: linear-gradient(to right, #01103a, transparent);
}