@use "../constants.scss";

.subTitle {
  padding: 0.5em;
  color: #ffffff;
  border-left: solid 5px #fcff58;
  font-size: 1.5em;
  background: -webkit-linear-gradient(to right, constants.$HIGHWAY_GREEN, transparent);
  background: linear-gradient(to right, constants.$HIGHWAY_GREEN, transparent);
}